<header class="c-header">
  <div class="c-header__box">
    <div class="c-search">
      <div class="c-search__box">
        <label for="js-search-input" class="u-screen-reader-text">Search for Blog</label>
        <input type="text" id="js-search-input" class="c-search__text" autocomplete="off" placeholder="Type to search...">
        <div data-icon='ei-search' data-size='s'></div>
      </div>
      <ul id="js-results-container" class="c-search-results-list"></ul>
    </div>
    <div class="c-nav">
      <ul class="c-nav__list u-lists-reset">
        <li class="c-nav__item is-active">
          <div data-icon='ei-pencil' data-size='s'></div> Posts</li>
        <li class="c-nav__item">
          <div data-icon='ei-star' data-size='s'></div> Categories</li>
      </ul>
    </div>
  </div>
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1238baa5627ea150941bbb035/8440a02b232cc1f7cb2d392f5.js");</script>
</header> <!-- /.c-header -->